body {
    /*background-color: #80003547;*/
}
/*.paintHeader {
    background-color: aqua;
}*/
/*header {
    background-color: #d41abda6;
    color: red;
    height: 108px;
    font-size: 26px;
    text-align: center;
    line-height: 75px;
}*/
    /*header a {
        color: #eeefde;
        font-size: 24px;
        font-weight: 400;
    }
.getflower{
    display:flex;
    justify-content:row;
}
.container1{
    background-image:url(/images/a1.jpg);
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
footer {
    background-color: #1e2929e0;
    height:100px;
}*/
    .tablee{
        width : 100%;
        height:auto;
    }
