@model FA.Project.Model.Trainee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trainee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TraineeId" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gender" /> @Html.DisplayNameFor(model => model.Gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyPhoneNumber" class="control-label"></label>
                <input asp-for="FamilyPhoneNumber" class="form-control" />
                <span asp-validation-for="FamilyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalEmail" class="control-label"></label>
                <input asp-for="ExternalEmail" class="form-control" />
                <span asp-validation-for="ExternalEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnboardDate" class="control-label"></label>
                <input asp-for="OnboardDate" class="form-control" />
                <span asp-validation-for="OnboardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @*<select asp-for="Status" class="form-control"></select>*@
                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<FA.Project.Model.Trainee.StatusDetail>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="University" class="control-label"></label>
                <input asp-for="University" class="form-control" />
                <span asp-validation-for="University" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faculty" class="control-label"></label>
                <input asp-for="Faculty" class="form-control" />
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skill" class="control-label"></label>
                @*<select asp-for="Skill" class="form-control"></select>*@
                <select asp-for="Skill" class="form-control" asp-items="@Html.GetEnumSelectList<FA.Project.Model.Trainee.SkillDetail>()"></select>
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForeignLanguage" class="control-label"></label>
                <input asp-for="ForeignLanguage" class="form-control" />
                <span asp-validation-for="ForeignLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV" class="control-label"></label>
                <input asp-for="CV" class="form-control" />
                <span asp-validation-for="CV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllocationStatus" class="control-label"></label>
                <input asp-for="AllocationStatus" class="form-control" />
                <span asp-validation-for="AllocationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditTrail" class="control-label"></label>
                <input asp-for="AuditTrail" class="form-control" />
                <span asp-validation-for="AuditTrail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDelete" /> @Html.DisplayNameFor(model => model.isDelete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ClassBatchId" class="control-label"></label>
                <select asp-for="ClassBatchId" class="form-control" asp-items="ViewBag.ClassBatchId"></select>
                <span asp-validation-for="ClassBatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
